<footer class="bg-gray-200 h-24">
  <p class="text-gray-600 text-center">
    &copy; <%= Time.current.year %> Vestiventa. Todos los derechos reservados.
  </p>
  <p class="text-gray-600 text-center">
    Desarrollado por <a href="https://github.com/lestig" target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:text-blue-500">Luis Estigarribia</a>
  </p>
</footer>